<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="db-h2-config.xml" />

	<bean id="userDao" class="com.memory.dao.db.UserDAOImpl">
		<property name="namedParameterJDBCTemplate" ref="jdbcTemplate" />
	</bean>

	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">           <!-- <property name="dataSource" ref="dataSource" /> -->
		<!-- <constructor-arg ref="dbcpDataSource" /> -->
		<constructor-arg ref="dataSource" />
	</bean>

</beans>
