target
.metadata
.settings
.classpath
.project
*.class
.factorypath

### Package Files ###
*.jar
*.war
*.ear
.idea
*.iml
*.swp
datanucleus.log
/bin/
*.log
event-sourcing/Journal.json

### Checkstyle ###
.checkstyle
