# env:
#   global:
#     - secure:
#     - secure:
language: ruby
rvm:
  - 2.1.2

script: bundle exec jekyll build
install: bundle install --jobs=3 --retry=3
after_success: travis_retry bundle exec s3_website push --headless

cache: bundler
sudo: false

branches:
  only:
    - gh-pages
