language: java
jdk:
- oraclejdk8

env:
  global:
  - GH_REF: github.com/iluwatar/java-design-patterns.git
  - secure: LxTDuNS/rBWIvKkaEqr79ImZAe48mCdoYCF41coxNXgNoippo4GIBArknqtv+XvdkiuRZ1yGyj6pn8GU33c/yn+krddTUkVCwTbVatbalW5jhQjDbHYym/JcxaK9ZS/3JTeGcWrBgiPqHEEDhCf26vPZsXoMSeVCEORVKTp1BSg=
  
before_install:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start

after_success:
- mvn clean test jacoco:report coveralls:report
- bash update-ghpages.sh

sudo: false

deploy:
  provider: s3
  access_key_id: AKIAJVPJZO7743HVSDHA
  secret_access_key:
    secure: aYaEhSd6/8SV/gvsn/22iOoyWrQtjKX7VHUoNTX16Mw6flYy29BE+/ZOL1CTL5EXEZsC1zyqCi7RoM6QUXk9DYVg4Lc5yTIwaM0evd3obzPeGQVCR9JRAqM9KGKwyW19oEkNxwEE/pKNDLCfkctMZ4bcwDhkIdsMSAVzKDzq+Yw=
  bucket: java-design-patterns
  local-dir: _site
  acl: public_read_write
  on:
    repo: iluwatar/java-design-patterns
    branch: gh-pages