<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>Apache Isis&trade; Simple App</title>

        <link rel="stylesheet" type="text/css" th:href="@{/css/page.css}">
    </head>
    <body>
        <div id="wrapper">
            <img alt="Isis Logo" th:src="@{/images/apache-isis/logo.png}" />
             
            <p>
                Our apologies - an error occurred.
            </p>

            <p>You can access the app <a th:href="@{/wicket/}">here</a>
        </div>
    </body>
</html>
