<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:mem:test</property>
        <property name="connection.username">sa</property>
        <property name="hbm2ddl.auto">create</property>
        <mapping class="com.iluwatar.cqrs.domain.model.Author" />
        <mapping class="com.iluwatar.cqrs.domain.model.Book" />
    </session-factory>
</hibernate-configuration>