<header>

    <!-- navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% assign allPages = site.pages | sort: 'page-index' %}
                    {% for p in allPages %}
                        {% if p.title and p.layout != "pattern" %}
                                <li class="{% if p.url == page.url %}active{% endif %}">
                                <a href="{{ p.url | prepend: site.baseurl }}">
                                    <span class="fa fa-lg {{ p.icon }}"></span> {{ p.title }}
                                </a>
                                </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <!-- /.navbar -->
        </div>
        <!-- /.container -->
    </nav>

</header>
