<!-- Parameters:
    - include.allItems: list of all items that have categories or tags
    - include.categories: list of categories
    - include.tags: list of tags
-->
{% include sortedlabels.html %}
<div class="row">
<div class="col-md-12 col-sm-6">
    <div class="sidebar-list-header checkbox">
        <input type="checkbox" id="checkbox_allcats" checked>
        <label for="checkbox_allcats">
            Categories
        </label>
        <span class="amount-badge">
            {{ site.data.categories | size }}
        </span>
    </div>

    {% for category in sortedCats %}
    <div class="sidebar-list-item checkbox" category="{{ category.name }}"
        <!-- add tooltip only if we have something to display -->
        {% if category.description %}
            data-toggle="tooltip" data-placement="left" title="{{ category.description }}"
        {% endif %} <!-- /tooltip, close the a tag now --> >

        <input type="checkbox" id="checkbox_{{ category.name }}" checked>
        <label for="checkbox_{{ category.name }}">
            <i class="{{ category.icon }}" aria-hidden="true"></i>
            {{ category.name }}
            <span class="amount-badge">
                {% assign counter=0 %}
                {% for page in include.allItems %}
                    {% if page.categories contains category.name %}
                        {% assign counter=counter | plus:1 %}
                    {% endif %}
                {% endfor %}
                {{ counter }}
        </span>

        </label>
    </div>

    {% endfor %}
</div>

<div class="col-md-12 col-sm-6 top20">
    <div class="sidebar-list-header checkbox">
        <input type="checkbox" id="checkbox_alltags" checked>
        <label for="checkbox_alltags">
            Tags
        </label>
        <span class="amount-badge">
            {{ site.data.tags | size }}
        </span>
    </div>

    <!-- All / None Buttons -->
    <!--<div class="sidebar-list-item">
        <div class="btn-group-sm centerContents" role="group">
            <button id="allTagsButton" type="button" class="btn btn-primary" style="width: 40%;">All</button>
            <button id="noTagsButton" type="button" class="btn btn-default" style="width: 40%;">None</button>
        </div>
    </div>-->

    {% for tag in sortedTags %}
    <div class="sidebar-list-item checkbox" tag="{{ tag.name }}" <!-- add tooltip only if we have something to display -->
        {% if tag.description %}
            data-toggle="tooltip" data-placement="left" title="{{ tag.description }}"
        {% endif %} <!-- /tooltip, close the a tag now --> >

        <input type="checkbox" id="checkbox_{{ tag.name }}" checked>
        <label for="checkbox_{{ tag.name }}">
            {{ tag.name }}
            <span class="amount-badge">
                {% assign counter=0 %}
                {% for page in include.allItems %}
                    {% if page.tags contains tag.name %}
                        {% assign counter=counter | plus:1 %}
                    {% endif %}
                {% endfor %}
                {{ counter }}
            </span>
        </label>
    </div>
    {% endfor %}
</div>
</div>
