/*
 * Base 16 Default Theme
 * https://github.com/chriskempson/base16
 */
$base00: #181818;
$base01: #282828;
$base02: #383838;
$base03: #585858;
$base04: #b8b8b8;
$base05: #d8d8d8;
$base06: #e8e8e8;
$base07: #f8f8f8;
$base16-red: #ab4642;
$base16-orange: #dc9656;
$base16-yellow: #f7ca88;
$base16-green: #a1b56c;
$base16-blue: #7cafc2;
$base16-cyan: #86c1b9;
$base16-violet: #ba8baf;
$base16-magenta: #a16946;
