$__base00: $base00;
$__base01: $base01;
$__base02: $base02;
$__base03: $base03;
$__base04: $base04;
$__base05: $base05;
$__base06: $base06;
$__base07: $base07;
$base00: $__base07;
$base01: $__base06;
$base02: $__base05;
$base03: $__base04;
$base04: $__base03;
$base05: $__base02;
$base06: $__base01;
$base07: $__base00;
