
/* fixes for bootstrap + google cse */
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button {
  line-height: normal;
}

.cse .gsc-control-cse, .gsc-control-cse {
  background-color: rgba(0, 0, 0, 0) !important;
  border: rgba(0, 0, 0, 0) !important;
}

.gsc-search-box {
  margin-bottom: 0px !important;
}

.pattern-cse {
  border-bottom: 1px solid #c0c0c0;
  line-height: normal;
  * {
    box-sizing: content-box;
  }
  table {
    border-collapse: separate;
  }
}
/* This is the 'X' button inside the textfield used to clear it */
.gscb_a {
    vertical-align: middle;
}
