---
layout: default
title: Patterns
permalink: /patterns/
icon: fa-th-large
comments: false
page-index: 4
modules: lunr
---

{% assign allPatterns = site.pages | where:"layout","pattern" | sort: 'title' %}
<div id="index" class="row">
<!-- SIDEBAR -->
<div class="col-md-3 col-md-push-9">
    {% include sidebar.html allItems=allPatterns %}
</div>
    <!-- MAIN -->
    <div class="col-md-9 col-md-pull-3">
        <div class="content-area">
            <div class="list-item-search">
                <div class="input-group">
                    <i class="fa fa-search input-group-addon" aria-hidden="true"
                        data-toggle="tooltip" data-placement="left" title="Powered by elasticlunr.com"></i>
                    <input type="text" class="form-control" id="searchBox" placeholder="logging...">
                </div>
            </div>
            <div class="post-list-body">

                <div>
                    {% for page in allPatterns %}
                    <div class="list-item" href="{{ page.url | prepend: site.baseurl }}"
                            cats='All;{{ page.categories | join: ';' }}'
                            tags='All;{{ page.tags | join: ';' }}'>
                        <a class="" href="{{ page.url | prepend: site.baseurl }}">
                            <span class="list-item-title">{{ page.title }}</span>
                        </a>
                        <div class="float-right">
                            {% include labels.html categories=page.categories tags=page.tags useLinks="true" %}
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
