---
layout: default
title: Patterns
permalink: /patterns/
icon: fa-th-large
comments: false
page-index: 1
---
<div id="index" class="row">
  <div class="col-sm-9">
    <div class="post-area">
      <!-- small button -->
     <!--  <p class="pull-right visible-xs">
       <button>toggle</button>
     </p> -->
      <div class="post-list-header">
        Patterns
      </div>
      <div class="pattern-cse">
        <gcse:search></gcse:search>
      </div>
      <div class="post-list-body">

        {% assign allPatterns = site.pages | where:"layout","pattern" | sort: 'title' %}
        <div>
          {% for page in allPatterns %}
          <a class="post-list-item" href="{{ page.url | prepend: site.baseurl }}"
          cats='All;{{ page.categories | join: ';' }}'
          tags='All;{{ page.tags | join: ';' }}'>
          <h2>{{ page.title }}</h2>
          </a>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="shadow-corner-curl hidden-xs">
      <div class="sidebar-list-header">
        Categories
      </div>

      <a href="javascript:;" class="sidebar-list-item category" category="All">
        All<span class="my-badge"> {{ allPatterns | size }}</span>
      </a>
      {% for category in site.category-list %}
      <a href="javascript:;" class="sidebar-list-item category" category="{{ category }}">
        {{ category }} <span class="my-badge">
          {% assign counter=0 %}
          {% for page in allPatterns %}
            {% if page.categories contains category %}
              {% assign counter=counter | plus:1 %}
            {% endif %}
          {% endfor %}
          {{ counter }}
        </span>
      </a>
      {% endfor %}
    </div>

    <div class="shadow-corner-curl hidden-xs top20">
      <div class="sidebar-list-header">
        Tags
      </div>

      <a href="javascript:;" class="sidebar-list-item tag" tag="All">
        All<span class="my-badge"> {{ allPatterns | size }}</span>
      </a>
      {% for tag in site.tag-list %}
      <a href="javascript:;" class="sidebar-list-item tag" tag="{{ tag }}">
        {{ tag }} <span class="my-badge">
          {% assign counter=0 %}
          {% for page in allPatterns %}
            {% if page.tags contains tag %}
              {% assign counter=counter | plus:1 %}
            {% endif %}
          {% endfor %}
          {{ counter }}
        </span>
      </a>
      {% endfor %}
    </div>
  </div>
  <script>
  (function() {
    var cx = '008960609897446712051:upn_v7v8dba';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
</div>
