---
layout: default
title: Patterns
permalink: /patterns/
icon: fa-th-large
comments: false
page-index: 3
---
<div id="index" class="row">
    <!-- MAIN -->
    <div class="col-sm-9">
        <div class="content-area">
            <div class="list-header">
                Patterns
            </div>
            <div class="list-item-search">
                <div class="input-group">
                    <i class="fa fa-search input-group-addon" aria-hidden="true"
                        data-toggle="tooltip" data-placement="left" title="Powered by elasticlunr.com"></i>
                    <input type="text" class="form-control" id="searchBox" placeholder="logging...">
                </div>
            </div>
            <div class="post-list-body">

                {% assign allPatterns = site.pages | where:"layout","pattern" | sort: 'title' %}
                <div>
                    {% for page in allPatterns %}
                    <div class="list-item" href="{{ page.url | prepend: site.baseurl }}"
                            cats='All;{{ page.categories | join: ' ; ' }}'
                            tags='All;{{ page.tags | join: ' ; ' }}'>
                        <a href="{{ page.url | prepend: site.baseurl }}"><h2>{{ page.title }}</h2></a>
                        <span class="cats">
                            {% for cat in page.categories %}
                            <a href="javascript:;" class="cat-button" category="{{ cat }}">{{ cat }}</a>
                            {% endfor %}
                        </span>
                        <span class="tags">
                            {% for tag in page.tags %}
                            <a href="javascript:;" class="tag-button" tag="{{ tag }}">{{ tag }}</a>
                            {% endfor %}
                        </span>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- SIDEBAR -->
    <div class="col-sm-3">
        {% include sidebar.html allItems=allPatterns categories=site.data.categories tags=site.data.tags %}
    </div>
    <script type="text/javascript" src="{{ '/static/js/search.js' | prepend: site.baseurl }}"></script>
</div>
