*~
*.swp
*.class
bin/
target/
target-ide/
logs/
.settings/
.project
.classpath
.idea
*.iml

build/

JArchitectOut/
*.jdproj

neo4j_DB/

# log files
datanucleus.log
isis.log
i18n-po.log
hs_err_pid*.log

# Package Files #
*.war
*.ear

dependency-reduced-pom.xml
pom.xml.tag
pom.xml.next
pom.xml.releaseBackup
pom.xml.versionsBackup

.clover/


rebel.xml
translations.pot

.flattened-pom.xml