---
layout: default
---
<div class="row pattern">
    <div id="myArticle" class="col-sm-12">
        <div class="content-area page">
            <header>
                <a id="viewSourceOnGithub" class="btn btn-primary" href="{{ site.repo_url }}/tree/master/{{ page.folder }}" target="_blank">
                    <span class="glyphicon glyphicon-new-window"></span>
                    &nbsp;View Source on Github
                </a>
                <h1>{{ page.title }}</h1>
                <div>
                {% include labels.html categories=page.categories tags=page.tags %}
                </div>
            </header>
            <hr>

            <article>
                {{ content }}
            </article>

            {% include disqus.html %}

        </div>
    </div>
</div>
