---
layout: default
---
<div class="row post">
    <div class="col-sm-12">
        <div class="content-area page">
            <header>
                <div class="float-right">
                    {% include addToAny.html %}
                </div>
                <h1>{{ page.title }}</h1>
                <div>
                    <h5 class="blog-index-author">
                        <a href="#author-info"><span class="fa fa-user"></span> {{ site.data.people[page.author].name }}</a>
                    </h5>
                    <h5 class="blog-index-date"><span class="fa fa-clock-o"></span> {{ page.date | date_to_string }}</h5>
                </div>
            </header>
            <hr>
            <article>
                {{ content }}
            </article>

            <hr class="dashed">
            {% include author.html author=page.author %}
            {% include disqus.html %}

        </div>
    </div>
</div>
